<%- include('includes/head.ejs')%>
<%- include('includes/navigation.ejs')%>

<head>
    <body>
        <address>
            Location : Mouna kashmiri Hata, Near sub post office<br/>
            Pincode : 841301<br/>
            State : Bihar<br/>
            Distict : Saran<br/>
            Email : vgupta9691@gmail.com
        </address>
    </body>
</head>